@import '../../../styles/base/base';

.button {
    cursor: pointer;
    background: $color-monarch;
    // background: $color-shiraz;
    color: $color-white;
    padding: 8px 20px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid $color-monarch;
    transition: linear 300ms;
    
    &:hover {
        border-color :$color-crown-of-thorns;
        background: $color-crown-of-thorns;
    }
    
    &:active {
        outline: none;
        background: $transparent;
    }
    
        &__disabled {
            background: $color-bombay;
            border-color: $color-bombay;
    
            &:hover, &:active {
                background: $color-bombay;
                border-color: $color-bombay;   
            }
        }
}