{
  "extends": ["react-app", "plugin:prettier/recommended", "pluhin:react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "quotes": ["error", "double"],
    "indent": ["error", 2, { "SwitchCase": 1 }]
  }
}