@import "../../../../styles/base/base";
@import "../../../../styles/mixins/mixins";

$_color-shark-transparent-50: #1a1a1d80;

.sectionTitle {
  font-size: 1.3rem;
  font-weight: $weight-semibold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.sectionStatus {
  margin-bottom: 10px;
  color: $color-manatee;
  line-height: 1.5rem;
  font-size: 0.9rem;
  
  &__textfield {
    background-color: $color-abbey;
    font-family: $main-font;
    line-height: 1.5rem;
    color: $color-alto;
    width: 100%;
    outline: none;
    border: none;
    font-size: 0.9rem;
  }
  
  &__text {
    cursor: pointer;  
  
    &_nonEditable {
      cursor: default;
    }
  }

}

.sectionAboutMe {
  color: $color-alto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &__header {
    font-weight: $weight-bold;
    color: $color-manatee;
    margin-right: 7px;
    font-size: 1.1rem;
  }
}

.friends {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &__overlay {
    position: absolute;
    top: 0;
    width: 0;
    background-color: $_color-shark-transparent-50;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    @include flexCenter;
  }

  .friend {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 5px;

    &__placeholder {
      width: 110px;
      height: 110px;
      border-radius: 5px;
      background-color: $color-shark;

      &_bloored {
        filter: blur(5px);
      }
    }
  }
}

.profileInfo__intro {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.95rem;
}
