@import "../../../../styles/base/base";
@import "../../../../styles/mixins/mixins";

$_color-shark-transparent-50: #1a1a1d80;

.sectionTitle {
  font-size: 1.3rem;
  font-weight: $weight-semibold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.sectionStatus {
  margin-bottom: 10px;
  color: $color-manatee;
  line-height: 1.5rem;
  font-size: 0.9rem;
  
  &__textfield {
    background-color: $color-abbey;
    font-family: $main-font;
    line-height: 1.5rem;
    color: $color-alto;
    width: 100%;
    outline: none;
    border: none;
    font-size: 0.9rem;
  }
  
  &__text {
    cursor: pointer;  
  
    &_nonEditable {
      cursor: default;
    }
  }

}

.sectionAboutMe {
  color: $color-alto;
  display: flex;
  flex-direction: column;

  &__header {
    font-weight: $weight-bold;
    color: $color-manatee;
    font-size: 1.1rem;
  }

  &__content {
    margin-bottom: 5px;
  }
}

.sectionJob {
  color: $color-alto;
  display: flex;
  flex-direction: column;

  &__header {
    font-weight: $weight-bold;
    color: $color-shiraz;
    font-size: 1.2rem;
  }

  &__content {
    margin-bottom: 15px;
  }
}

.sectionContacts {
  display: flex;
  justify-content: space-around;

  &__icon {
    color: $color-manatee;
    font-size: 1.8rem;
    cursor: pointer;
    @include mainTransition;

    &:hover {
      color: $color-alto;
    }
  }
}

.friends {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &__overlay {
    position: absolute;
    top: 0;
    width: 0;
    background-color: $_color-shark-transparent-50;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    @include flexCenter;
  }

  .friend {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 5px;

    &__placeholder {
      width: 110px;
      height: 110px;
      border-radius: 5px;
      background-color: $color-shark;

      &_bloored {
        filter: blur(5px);
      }
    }
  }
}

.editMode {
  &__contacts {
    display: flex;
    justify-content: space-around;
  }
  
  &__contact {
    color: $color-abbey;
    font-size: 1.8rem;
    cursor: pointer;
    @include mainTransition;

    &:hover {
      color: $color-manatee;
    }

    &_selected {
      color: $color-bombay;
    }
  }

  &__fieldGroups {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
  }

  &__errors {
    color: $color-shiraz;
    font-weight: $weight-semibold;
    list-style-type: none;
    margin-top: 10px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
  }

  &__submit {
    padding: 5px 30px;
    background-color: $color-monarch;
    color: $color-white;
    font-family: $main-font;
    font-weight: $weight-semibold;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    @include mainTransition;

    &:hover {
      background-color: $color-crown-of-thorns;
    }
  }
}

.editInfo {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.3rem;
  cursor: pointer;
  color: $color-manatee;
  @include mainTransition();

  &:hover {
    color: $color-alto;
  }

  &:active {
    color: $color-white;
  }
}

