@import "../../../../styles/base/base";

$_gap-size: 15px;

.profileMain {
  color: $color-white;
  display: flex;
  gap: $_gap-size;
  position: relative;
}

.profileMain__info {
  flex: 0 0 40%;
  align-self: flex-start;
  position: sticky;
  z-index: $z-index-oceanic-crust;
  top: 95px; // 80px - header height 15px - margin
  left: 0;
}

.profileMain__posts {
  flex: 0 0 calc(60% - #{$_gap-size});
}
