.users__wrapper {
    max-height: 92vh;
    overflow: auto;
}

.singleUser {
    margin: 20px 5%;
    display: flex;
}
.imgNbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 10px 5px 0;
}

.imgNbutton__img {
    margin: 0 0 -5px 0;
}

.imgNbutton__img img{
    height: 70px;
}
.imgNbutton__button button{
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(64, 118, 163);
    color: #FFF;
    min-width: 66px;
    border: none;
    outline: none;
    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.imgNbutton__button button:hover, .imgNbutton__button button:active {
    background-color: rgb(43, 93, 134);
}

.box {
    display: flex;
    border-radius: 10px;
    border: 2px solid #777;    
    width: 60%;
    padding: 10px;
}

.box__leftside  {
    width: 80%;
    flex: 1 1 auto;
    color: #555;
}

.name__wrapper, .status__wrapper {
    height: 50%;
}
.name__body {
    font-size: 18px;
    font-weight: 700;
}
.status__body {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.box__rightside {
    width: 20%;
    flex: 1 1 auto;
    font-weight: 700;
    font-size: 17px;
    color: #555;
}

.country__wrapper, .city__wrapper {height: 50%;}

.country__body, .city__body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}