@import "../../../../styles/base/_base.scss";
@import "../../../../styles/mixins/mixins";

.messageField {
  height: 100%;
  @include flexCenter;
  padding: 10px;

  &__field {
    background-color: $color-tuna;
    border: none;
    width: 100%;
    color: $color-white;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 15px;
  }
}
