@import '../../../styles/base/base';

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #13496580;
    z-index: $z-index-outer-core;
}