@import "../../../styles/base/_base.scss";

.dialogPage {
  display: grid;
  grid-template-areas:
    "people messages"
    "people field";
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 12fr 80px;
  color: $color-white;
  height: 100%;

  &__people {
    grid-area: people;
  }

  &__messages {
    grid-area: messages;
  }

  &__field {
    grid-area: field;
  }
}
