.myPosts {
    padding: 10px;
    height: 100%;
}

.textarea textarea {
    resize: none;
}

.button button {
    padding: 3px 13px;
}

.posts {
    margin: 10px 0;
}

.myPosts {
    max-height: 57vh;
}