@import "../../../../styles/base/base";
@import "../../../../styles/mixins/mixins";

$_color-shark-transparent-50: #1a1a1d80;

.profilePreview {
  position: relative;
  height: 350px;
  @include flexCenter;
}

.wallpaper {
  top: 0;
  position: absolute;

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(26, 26, 29, 1) 0%,
      rgba(13, 13, 14, 0.25) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.about {
  color: $color-white;
  z-index: $z-index-inner-core;
  @include flexCenter;
  flex-direction: column;
  object-fit: cover;

  &__image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__loadImage {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mainTransition();

    &:hover {
      background-color: $_color-shark-transparent-50;
      opacity: 1;
    }
  }

  &__file {
    display: none;
  }

  &__fileLabel {
    font-weight: $weight-semibold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-size: 2em;
    font-weight: 500;
  }
  
  &__followPlaceholder {
    height: 40px;
  }
}
