* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: steelblue;
    grid-area: n;
    padding: 15px;
}

.navigation {
    margin: 0 0 50px 0;
}

.navigation ul{
    list-style-type: none;
}

.navigation ul li {
    margin: 5px;
}
.navigation ul li a {
    color: white;
    text-decoration: none;
}

.navigation ul li .active , .navigation ul li a:hover {
    color: gold;
}

.friends {
    padding: 10px;
    text-align: center;
}
.friends h1 {
    color: #F3F3F3;
    font-weight: 400;
}
.friends__container {
    margin: 5px 0 10px 0;
}
.friends__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.friends__item a{
    text-decoration: none;
}

.friends__item_body {
    text-decoration: none;
}
.friends__img {
    width: 55px;
    margin: 0 0 -5px 0;
}
.friends__name {
    color: #F3F3F3;
    word-wrap: wrap;
}