@import "../../styles/base/base";
@import "../../styles/mixins/mixins";

.login {
  position: relative;
  height: 100%;
  @include flexCenter;
  // overflow: hidden;

  &__background {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
  }

  &__form {
    z-index: $z-index-outer-core;
    background: $color-transparent-black-75;
    color: $color-white;
    backdrop-filter: blur(6px);
    width: 350px;
    padding: 20px;
  }

  &__heading {
    font-family: $heading-font;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    user-select: none;

    &_colored {
      font-size: 3rem;
      color: $color-shiraz;
    }
  }
}

.form {
  padding: 15px 0 0;

  &__group {
    position: relative;
    padding: 15px 0 0;
  }

  &__field {
    font-family: $main-font;
    font-weight: $weight-semibold;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 10px 0;
    color: $color-white;
    border-bottom: 2px solid $color-manatee;
    @include mainTransition;

    &::placeholder {
      color: transparent;
    }
  }

  &__label {
    color: $color-manatee;
    position: absolute;
    top: 0;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    @include mainTransition;
  }

  &__field:focus {
    ~ .form__label {
      top: 0;
      font-size: 1rem;
      color: $color-shiraz;
      font-weight: $weight-bold;
    }

    border-color: $color-shiraz;
  }

  &__label_big {
    top: 25px;
    font-size: 1.3rem;
  }

  &__submit {
    margin: 20px 0 0;
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: $main-font;
    font-weight: $weight-semibold;
    font-size: 1.1rem;
    background-color: $color-monarch;
    color: $color-white;
    @include mainTransition;
    width: 100%;

    &:hover {
      background-color: $color-shiraz;
    }
  }

  &__error {
    display: flex;
    align-items: center;
    height: 25px;
    color: $color-shiraz;
    font-weight: $weight-semibold;
    text-shadow: 0 0 1px $color-shiraz;
  }
}
