@import './styles/base/base';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body,
body > div,
.app {
    font-family: $main-font;
    height: 100%;
}

.app {    
    display: grid;
    grid-template-areas: 
    "h"
    "c";
    grid-template-rows: 80px 1fr;
    
    max-width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
    // grid-gap: 10px;
    // overflow: hidden;
}

.content {
    background-color: $color-shark;
    grid-area: c;
    height: 100%;
}