@import "./styles/base/base";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
body > div,
.app {
  font-family: $main-font;
  height: 100%;
}

.app {
  display: grid;
  grid-template-areas:
    "h"
    "c";
  grid-template-rows: 80px 1fr;

  max-width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  // grid-gap: 10px;
  // overflow: hidden;
}

.content {
  background-color: $color-shark;
  grid-area: c;
  height: 100%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-left: 1px solid $color-tuna;
  background-color: $color-shark;
}

::-webkit-scrollbar-thumb {
  background-color: lighten($color-tuna, 5%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten($color-tuna, 10%);
}

::-webkit-scrollbar-thumb:active {
  background-color: lighten($color-tuna, 15%);
}
