@import "../../../../../styles/base/base";
@import "../../../../../styles/mixins/mixins";

.postHeader {
  display: flex;
  margin-bottom: 5px;

  &__photo {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    object-fit: cover;
  }

  &__status {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
  }

  &__statusAuthor {
    font-weight: $weight-semibold;
  }

  &__statusDate {
    // font-weight: $weight-light;
    font-size: 0.8rem;
    color: $color-bombay;
  }
}

.postContent {
  &__text {
    margin-bottom: 5px;

    &_large {
      font-size: 1.5rem;
      font-weight: $weight-light;
    }
  }

  &__photo {
    margin-bottom: 5px;
    width: 100%;
  }
}

.postFooter {
  display: flex;
  flex-direction: column;

  &__likes {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 5px;
    color: $color-alto;
    font-weight: $weight-semibold;
  }

  &__likesIcon {
    color: $color-shiraz;
  }

  &__buttons {
    padding: 5px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }

  &__singleButton {
    padding: 5px 0;
    flex: 0 1 50%;
    background-color: $color-tuna;
    border: none;
    color: $color-alto;
    font-family: $main-font;
    font-size: 1rem;
    cursor: pointer;
    @include mainTransition;
    border-radius: 5px;
    font-weight: $weight-semibold;
    gap: 5px;
    @include flexCenter();

    &_active {
      color: $color-shiraz;
    }

    &:hover {
      background-color: $color-abbey;
    }
  }

  &__comments {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
  }

  &__comment {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  &__commentImage {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  &__commentContainer {
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: $color-alto;
    background-color: $color-abbey;
  }

  &__commentTitle {
    color: $color-white;
    font-weight: $weight-semibold;
  }

  &__newComment {
    padding: 15px 0 0;
    display: flex;
    gap: 10px;
  }

  &__newCommentLink {
    display: flex;
    align-items: center;
  }

  &__newCommentImage {
    width: 45px;
    height: 45px;
    border-radius: 25px;
  }

  &__newCommentTextfield {
    width: 100%;
    background-color: $color-abbey;
    border-radius: 25px;
    padding: 0 10px;
    color: $color-white;
    border: none;

    &::placeholder {
      color: $color-bombay;
    }
  }
}

.singleButton__icon {
  font-size: 1.1rem;
}