@import '../../../../../styles/base/base';

.post {
    padding: 0;
}

.postHeader {
    display: flex;
    margin-bottom: 5px;

    &__photo {
        width: 45px;
        height: 45px;
        border-radius: 25px;
    }

    &__status {
        padding-left: 5px;
        display: flex;
        flex-direction: column;
    }

    &__statusAuthor {
        font-weight: $weight-semibold;
    }
    
    &__statusDate {
        // font-weight: $weight-light;
        font-size: 0.8rem;
        color: $color-bombay;
    }
}

.postContent {
    &__text {
        margin-bottom: 5px;
        
        &_large {
            font-size: 1.5rem;
            font-weight: $weight-light;
        }
    }

    &__photo {
        margin-bottom: 5px;
        width: 100%;
    }
}