@import 'colors';
@import 'typography';
@import 'config';

$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-laptop: 1200px;

$z-index-inner-core: 1;
$z-index-outer-core: 10;
$z-index-lower-mantle: 100;
$z-index-upper-mantle: 1000;
$z-index-oceanic-crust: 10000;
$z-index-continental-crust: 100000;