$color-black: #000;
$color-white: #fff;
$transparent: transparent;

//light theme
$color-azure-radiance: #00a6fb;
$color-lochmara: #0582ca;
$color-bahama-blue: #006494;
$color-prussian-blue: #003554;
$color-black-pearl: #051923;

//dark theme
$color-shark: #1a1a1d;

$color-tuna: #343435;

$color-crown-of-thorns: #6f2232;

$color-monarch: #950740;

$color-shiraz: #c3073f;
