@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Long+Cang&display=swap");

$main-font: "Open Sans", sans-serif;
$heading-font: "Long Cang", cursive;

$weight-bold: 700;
$weight-semibold: 600;
$weight-regular: 400;
$weight-light: 300;
